<div id="content">
    <div class="main">
        <div class="toptitle" [ngStyle]="{transform:transform2}">
            <h2 class="title">TALK TO ME</h2>
        </div>

        <div class="technicalsection" [ngStyle]="{transform:transform1}">
            
            <div class="topsection">
                <p>You can reach me on the below channel. Testing.</p>
            </div>
            
            <div class="contactlinks">
                <div class="contactlink">
                    <a class="certLink" href="https://www.linkedin.com/in/josh-tell/" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/josh-tell/" target="_blank" class="fa-contact fa fa-linkedin"></a>
                    <div>
                        <h3>LinkedIn</h3>
                        <p>Josh Tell</p>
                    </div>
                </div>
                <div class="contactlink">
                    <a href="mailto:jtell1997@gmail.com" target="_blank" class="fa-contact fa fa-paper-plane"></a>
                    <div>
                        <h3>Email</h3>
                        <p>jtell1997@gmail.com</p>
                        
                    </div>
                </div>
            </div>       
        </div>
    </div>


    <footer>     
        <h2>CONNECT WITH ME</h2>     
        <div id="socials">
            <a href="https://github.com/jtell1997" target="_blank" class="fa1 fa fa-github"></a>
            <a href="https://www.linkedin.com/in/josh-tell/" target="_blank" class="fa1 fa fa-linkedin"></a> 
            <a href="mailto:jtell1997@gmail.com" target="_blank" class="fa1 fa fa-paper-plane"></a> 
        </div>
      </footer>
</div>
