#content
    display flex
    flex-direction column
    margin auto
    background-color white
    text-align center
    min-height 100%

.abovesection
    background-color lightgrey
    height 100vh-50px
    margin auto
    flex-direction column
    width 100%

.toptitle
    display flex
    justify-content center
    flex-direction column
    margin-top 180px
    transition transform 1s ease
    transition-delay 0.2s

.title
    font-family: 'deadjim', 'arial', sans-serif;  
    font-style: normal;
    font-weight: 300;
    font-size 80px
    margin: 0px;
    color white

.technicalsection
    display flex
    flex-direction column
    margin auto
    margin-top 150px
    margin-bottom 50px
    text-align center
    box-shadow 0 20px 20px -15px rgba(0, 0, 0, .3)
    transition transform 1s ease
    transition-delay 0.2s
    background-color white
    height 400px
    width 600px
    border-radius 4px