<div id="content">
    <script type="text/javascript" src="./../../../assets/scripts/smtp.js"></script>
<div id="contactform">
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <input name="first" ngModel required #first="ngModel">
        <input name="last" ngModel>
        <button>Submit</button>
      </form>

</div>

    

    <footer>
        <h2>CONNECT WITH ME</h2>
        <div id="socials">
            <a href="https://www.linkedin.com/in/josh-tell/" target="_blank" class="fa1 fa fa-linkedin"></a>
            <a href="https://www.facebook.com/josh.tell.5" target="_blank" class="fa1 fa fa-facebook"></a>
            <a href="https://github.com/jtell1997" target="_blank" class="fa1 fa fa-github"></a>
        </div>
    </footer>
</div>