<div id="content">

    <div class="abovesection">

    <div class="toptitle" [ngStyle]="{transform:transform2}">
        <h2 class="title">TECHNICAL SKILLS</h2>
 
    </div>
    
    <div class="technicalsection" [ngStyle]="{transform:transform1}">
        
        <div class="topsection">
            <p>I spend most of my time with these...</p>
        </div>
        
        <div class="bottomsection">

            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width90, 'transition-delay':t1}">
                    <div class="tag bold flex">.NET / C#</div>                   
            </div>
            <span>90%</span>
            </div>           
            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width80, 'transition-delay':t3}">
                    <div class="tag bold flex">HTML5</div>                   
            </div>
            <span>80%</span>
            </div>
            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width80, 'transition-delay':t4}">
                    <div class="tag bold flex">CSS</div>                   
            </div>
            <span>80%</span>
            </div>
            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width75, 'transition-delay':t5}">
                    <div class="tag bold flex">Angular</div>                   
            </div>
            <span>75%</span>
            </div>
            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width80, 'transition-delay':t6}">
                    <div class="tag bold flex">SQL</div>                   
            </div>
            <span>80%</span>
            </div>
          
            
            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width65, 'transition-delay':t7}">
                    <div class="tag bold flex">Typescript</div>                   
            </div>
            <span>65%</span>
            </div>
            
            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width70, 'transition-delay':t8}">
                    <div class="tag bold flex">Javascript</div>                   
            </div>
            <span>70%</span>
            </div>

        </div>

    </div>

    </div>

    <div class="belowsection">

    

    <div class="bottomtitle" [ngStyle]="{transform:transform2}">
        <h2 class="title">MY PORTFOLIO</h2>
    </div>

    <div class="portfolio">
        <div class="card">

        </div>
        <div class="card">
            
        </div>
        <div class="card">
            
        </div>
        <div class="card">
            
        </div>

    </div>
</div>

    <footer>     
        <h2>ME ON SOCIAL</h2>     
        <div id="socials">
            <a href="https://www.linkedin.com/in/josh-tell/" target="_blank" class="fa1 fa fa-linkedin"></a>
            <a href="https://www.facebook.com/josh.tell.5" target="_blank" class="fa1 fa fa-facebook"></a>
            <a href="https://github.com/jtell1997" target="_blank" class="fa1 fa fa-github"></a>
        </div>
      </footer>
</div>
