<div id="content">

    <div class="abovesection">

    <div class="toptitle" [ngStyle]="{transform:transform2}">
        <h2 class="title">TECHNICAL SKILLS</h2>
 
    </div>
    
    <div class="technicalsection" [ngStyle]="{transform:transform1}">
        
        <div class="topsection">
            <p>I spend most of my time with these...</p>
        </div>
        
        <div class="bottomsection">

            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width90, 'transition-delay':t1}">
                    <div class="tag bold flex">.NET / C#</div>                   
            </div>
            <span>90%</span>
            </div>           
            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width80, 'transition-delay':t3}">
                    <div class="tag bold flex">HTML5</div>                   
            </div>
            <span>80%</span>
            </div>
            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width80, 'transition-delay':t4}">
                    <div class="tag bold flex">CSS</div>                   
            </div>
            <span>80%</span>
            </div>
            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width75, 'transition-delay':t5}">
                    <div class="tag bold flex">Angular</div>                   
            </div>
            <span>75%</span>
            </div>
            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width80, 'transition-delay':t6}">
                    <div class="tag bold flex">SQL</div>                   
            </div>
            <span>80%</span>
            </div>
          
            
            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width65, 'transition-delay':t7}">
                    <div class="tag bold flex">Azure</div>                   
            </div>
            <span>65%</span>
            </div>
            
            <div class="bar flex">
                <div class="bar fill" [ngStyle]="{width:width60, 'transition-delay':t8}">
                    <div class="tag bold flex">Javascript</div>                   
            </div>
            <span>60%</span>
            </div>

        </div>

    </div>

    </div>

    <div class="belowsection">

    

    <div class="bottomtitle" [ngStyle]="{transform:transform2}">
        <h2 class="title2">MY PORTFOLIO</h2>
    </div>    
    <div class="portfolio">
        <div class="card">
            <div class="hiddenblock">
                <a class="webLink" href="http://localhost:4200/" target="_blank"></a>
                <p>I designed and developed my personal portfolio website using Angular5 and HTML/Stylus. After gaining some experience with Angular during a side project at work, I set out to put my new found knowledge to use and this website is the result. This project was a great learning process for me and futhered my interest in front-end web development.</p>
            </div>

        </div>
        <div class="card"> 
            <div class="hiddenblock">
                <a class="webLink" href="https://www.unisquash.net/" target="_blank"></a>
                <p>The University Of Otago squash club used Weebly to build and maintain their website. As my first experience using a CMS, I contributed to the club by updating and maintaining the website during my time studying as an undergraduate.</p>
            </div>
        </div>
        <p class="infoText">Hover to read about each project.</p>
    </div>
</div>
    <div class="bottompage">

        <div class="bottomtitle2" [ngStyle]="{transform:transform4}">
            <h2 class="title2">MY CERTIFICATIONS</h2>
        </div>
    
        <div class="certificates">
            <div class="certificate">
                <a class="certLink" href="https://www.youracclaim.com/badges/911cde9a-633e-4c09-a4c3-92444f9d46e8/public_url" target="_blank"></a>
                <p class="certText">I gained this certification in June 2020.</p>
            </div>
    
            <div class="certificate">
                <a class="certLink" target="_blank"></a>
                <p class="certText">I plan to take this certification in 2021.</p>
            </div>
        </div>
            
    </div>

    <footer>     
        <h2>CONNECT WITH ME</h2>     
        <div id="socials">
            <a href="https://github.com/jtell1997" target="_blank" class="fa1 fa fa-github"></a>
            <a href="https://www.linkedin.com/in/josh-tell/" target="_blank" class="fa1 fa fa-linkedin"></a> 
            <a href="mailto:jtell1997@gmail.com" target="_blank" class="fa1 fa fa-paper-plane"></a> 
        </div>
      </footer>
</div>
