#content
    display flex
    flex-direction column
    margin auto
    background-color white
    text-align center
    min-height 100%
    
.abovesection
    background-color #0B4F6C
    height 100vh-50px
    margin auto
    flex-direction column
    width 100%

.belowsection
    background-color white
    height 1000px
    margin auto
    flex-direction column
    width 100%

.bottompage
    background-color #F0F0F0
    height 600px
    margin auto
    flex-direction column
    width 100%

p
    margin-bottom 0px
    margin-top 25px

.toptitle
    display flex
    justify-content center
    flex-direction column
    margin-top 180px
    transition transform 1s ease
    transition-delay 0.2s

.bottomtitle
    display flex
    justify-content center
    margin-top 100px
    transition transform 1s ease
    transition-delay 0.2s

.bottomtitle2
    display flex
    justify-content center
    margin-top 180px
    transition transform 1s ease
    transition-delay 0.2s

.title
    font-family: 'deadjim', 'arial', sans-serif;  
    font-style: normal;
    font-weight: 300;
    font-size 80px
    margin: 0px;
    color white

.title2
    font-family: 'deadjim', 'arial', sans-serif;  
    font-style: normal;
    font-weight: 300;
    font-size 80px
    margin: 0px;
    color #0B4F6C

.technicalsection
    display flex
    flex-direction column
    margin auto
    margin-top 150px
    margin-bottom 50px
    text-align center
    box-shadow 0 20px 20px -15px rgba(0, 0, 0, .3)
    transition transform 1s ease
    transition-delay 0.2s
    background-color white
    height 400px
    width 600px
    border-radius 4px	

.header
    height 50px
    text-align center
    margin 0px
    width 100%

.portfolio
    display flex
    flex-flow row wrap
    margin auto
    margin-top 120px
    margin-bottom 50px
    text-align center
    box-shadow 0 20px 20px -15px rgba(0, 0, 0, .3)
    transition transform 1s ease
    background-color white
    height 600px
    width 600px
    padding 0
    border-radius 4px	

.webLink
    display block
    width 600px
    height 300px

.infoText
    margin-top 50px
    margin-bottom 0px
    padding 0px

.card   
    width 100%
    height 50%
    display flex

.hiddenblock
    width 100%
    background lightgrey
    opacity 0.9
    height 0%
    transition height 500ms
    p
        font-size: 1rem;
        padding: 1rem 1.5rem;
        font-weight: 800;
        line-height: 1.8;
        text-align: center;
        color: #00343f;
        padding-top 40px
        transition: visibility 0s, opacity 0.3s linear;
        opacity 0

.card:hover .hiddenblock
    top 0
    z-index: 2
    height 100%
    p
        visibility: visible
        opacity 1

.certificates
    display flex
    margin auto
    width 700px
    flex-direction row
    justify-content space-between
.certificate
    display flex
    flex-direction column
    margin auto
    margin-top 40px
    text-align center
    transition transform 1s ease
    transition-delay 0.2s
    height 300px
    width 300px
    border-radius 4px	 
    background-color white 
    border 3px solid #F0F0F0 

.certificate:hover
    border 3px solid grey
.certificate:nth-child(1)
    background: url('src\assets\Images\microsoft.png') center no-repeat;  

.certificate:nth-child(2)
    background: url('src\assets\Images\azure-dev.jpeg') center no-repeat; 

.certText
    color #00343f
    margin-top 10px

.certLink
    display block
    width 300px
    height 300px

.card:nth-child(1)
    background: url('src\assets\Images\AngularCV2.png') center/contain no-repeat;

.card:nth-child(2)
    background: url('src\assets\Images\Squash.png') center/contain no-repeat;

.in-view
    transform translateY(-100px)

.topsection
    background-color #f7f7f7
    width 100%
    margin 0
    height 130px

.bottomsection
    display block
    padding 15px
    margin auto
    width 90%
    flex-direction column
    justify-content center

.bar 
    align-items flex-end
    background-color #eee
    color: #666
    width 80%
    font-size 11pt
    height 28px

.flex
    display flex
    margin-bottom 15px
    margin-left 50px
    flex-direction row
    justify-content space-between
span 
    display initial  
    z-index 1
    padding 0 10px 0 0
    margin-bottom 5px

.fill
    left: 0;
    position relative
    width 0px
    top: 0;  
    background-color: #00a1a7;
    opacity: 1;
    z-index 2
    padding: 0;
    transition-property width
    transition-duration 1s
    transition-timing-function: ease-in-out

.tag
    left: 0;
    top 0
    display flex
    padding-top 5px
    justify-content center
    position: absolute;
    background-color: #04c2c9;
    margin 0
    color: #fff;
    height 23px
    width: 110px;
    font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;

    