<div id="content">

    <section class="intro">
            
        <div id="container">
            <h2 class="title">ABOUT ME</h2>
            <hr class="breakLine">
        <div id="main">
            <div id="col1">
                    <p>
                            I'm a {{CalculateAge()}} year old computer science graduate from the <a class="inText" href="https://www.otago.ac.nz/" target="_blank">University of Otago.</a> 
                            I am currently working as an application developer at <a class="inText" href="https://www.dxc.technology/" target="_blank">DXC Technology</a>
                            After finishing my undergraduate degree in 2017, I immediately began my journey in the IT industry.
                            
                        </p>
            </div>
            <div id="col2">
                    <p>
                            I have two years of experience in full stack software development. In my current role, I work closely with a team of highly experienced senior developers programming
                             mainly in C# and using the .NET framework.
                        </p>
            </div>
        </div>
    </div>
    </section>

<div id="bottomsection">
    <section id="secondintro">
        
        <h2 class="title">WORK EXPERIENCE</h2>
        <hr class="breakLine2">
        <!-- <button class="fa1 fa fa-chevron-down" (click)="scroll(target)"></button>   -->
    </section>
      
      <section class="timeline">
        <div class="container">
      
          <div class="timeline-img"></div>

          <div class="timeline-item">           
      
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>Associate Application Developer</h2>
              </div>
              <div class="date">11 FEB 2019 - PRESENT</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
      
          </div>   
          <div></div>
      
          <div class="timeline-img"></div>
          <div class="timeline-item">
      
            
      
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>Global Mobility Services Engineer</h2>
              </div>
              <div class="date">20 APRIL 2018 - 15 JAN 2019</div>
              <p>Designed and developed 3 tier web application hosted in Azure. I used software which included ASP.NET Development in Microsoft Visual Studio, Azure SQL Database, and Azure Active Directory. Gained valuable real-world experience in developing a commercial website</p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
      
          </div>   

          <div></div>

          <div class="timeline-img"></div>

          <div class="timeline-item">           
      
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>Card Title</h2>
              </div>
              <div class="date">25 MAY 2016</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
      
          </div>   

          <div></div>
          <div class="timeline-img"></div>

          <div class="timeline-item">
           
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>Card Title</h2>
              </div>
              <div class="date">25 MAY 2016</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>      
          </div>       
        </div>
      </section>

</div>

    <footer>
        <h2>ME ON SOCIAL</h2>
        <div id="socials">
            <a href="https://www.linkedin.com/in/josh-tell/" target="_blank" class="fa1 fa fa-linkedin"></a>
            <a href="https://www.facebook.com/josh.tell.5" target="_blank" class="fa1 fa fa-facebook"></a>
            <a href="https://github.com/jtell1997" target="_blank" class="fa1 fa fa-github"></a>
        </div>
    </footer>
</div>