<div id="content">

    <section class="intro">
            
        <div id="container">
            <h2 class="title">ABOUT ME</h2>
            <hr class="breakLine">
        <div id="main">
            <div id="col1">
                    <p class="introText">
                            I'm a {{CalculateAge()}} year old computer science graduate from the <a class="inText" href="https://www.otago.ac.nz/" target="_blank">University of Otago.</a> 
                            I am currently working as an application developer at <a class="inText" href="https://www.dxc.technology/" target="_blank">DXC Technology</a>
                            After finishing my undergraduate degree in 2017, I immediately began my journey in the IT industry.
                            
                        </p>
            </div>
            <div id="col2">
                    <p class="introText">
                            I have three years of experience in full stack software development. In my current role, I work closely with a team of highly experienced senior developers programming
                             mainly in C# and using the .NET framework.
                        </p>
            </div>
        </div>
    </div>
    </section>

<div id="bottomsection">
    <section id="secondintro">
        
        <h2 class="title">WORK EXPERIENCE</h2>
        <hr class="breakLine2">
        <!-- <button class="fa1 fa fa-chevron-down" (click)="scroll(target)"></button>   -->
    </section>
      
      <section class="timeline">
        <div class="container">
      
          <div class="timeline-img"></div>

          <div class="timeline-item">           
      
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>Associate .NET Application Developer</h2>
              </div>
              <div class="date">11 FEB 2019 - PRESENT</div>
              <p>Designing and developing production-level object-oriented applications using the software development lifecycle, including design, coding, testing, and documentation.</p>
              <p><i>C#, .NET, SQL, HTML5, CSS, WCF, Web Services, Angular</i></p>
              <a class="bnt-more" href="https://www.dxc.technology/about_us" target="_blank">More</a>
            </div>
      
          </div>   
          <div></div>
      
          <div class="timeline-img"></div>
          <div class="timeline-item">
      
            
      
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>Global Mobility Services Engineer</h2>
              </div>
              <div class="date">20 APRIL 2018 - 30 JAN 2019</div>
              <p>Provided level 2 mobile support to 40,0000 users accross ANZ globally. This included device acquisition with vendors, device management/compliance, and tech-support through the phone for ServiceNow ticket resolution.</p>
              <p><i>VMware AirWatch, ServiceNow, Customer Service</i></p>
              <a class="bnt-more" href="https://www.anz.co.nz/about-us/our-company/anz-new-zealand/" target="_blank">More</a>
            </div>
      
          </div>   

          <div></div>

          <div class="timeline-img"></div>

          <div class="timeline-item">           
      
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>Junior .NET Software Developer</h2>
              </div>
              <div class="date">NOV 2017 - MAR 2018</div>
              <p>Designed and developed a full stack web application which was hosted in the cloud using Azure App Services.</p>
              <p><i>C#, .NET, SQL, HTML5, Azure SQL Database</i></p>
              <a class="bnt-more" href="https://gocloud.systems/" target="_blank">More</a>
            </div>
      
          </div>   

          <div></div>
          <div class="timeline-img"></div>

          <div class="timeline-item">
           
            <div class="timeline-content timeline-card">
              <div class="timeline-img-header">
                <h2>BSc - Computer Science</h2>
              </div>
              <div class="date">FEB 2015 - NOV 2017</div>
              <p>During my three years of study at Otago University, some of the papers I took included Web Development, Networking, AI, Database Theory, and Object Oriented Programming.</p>
              <a class="bnt-more" href="https://www.otago.ac.nz/" target="_blank">More</a>
            </div>      
          </div>       
        </div>
      </section>

</div>

    <footer>
        <h2>CONNECT WITH ME</h2>
        <div id="socials">
            <a href="mailto:" target="_blank" class="fa1 fa fa-envelope"></a>
            <a href="https://github.com/jtell1997" target="_blank" class="fa1 fa fa-github"></a>
            <a href="https://www.linkedin.com/in/josh-tell/" target="_blank" class="fa1 fa fa-linkedin"></a>                 
        </div>
    </footer>
</div>