<div id="wrapper">
        <header>
            <nav>
                <a class="navLink" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                  true}">Home</a>
                <a class="navLink" routerLink="/experience" routerLinkActive="active-link">Experience</a>
                <a class="navLink" routerLink="/skills" routerLinkActive="active-link">Skills</a>
                <a class="navLink" routerLink="/contact" routerLinkActive="active-link">Contact</a>
              </nav>
        </header>
      
      <router-outlet></router-outlet>

</div>



