
<div id="content">


    <div class="main">
        <div class="topsection">
        <section>
                <h2 style="cursor: default;" class="name">josh</h2>
                <h2 style="cursor: default;" class="name1">TELL</h2>
        </section>


                <img src="../../../assets/Images/profile2.jpg" height="200" width="200">

        </div>


            <h1>FULL-STACK APPLICATION DEVELOPER</h1>
            
            <div class="button_cont" align="center"><a class="example_c" routerLink="/pages/experience" routerLinkActive="active-link"><span>View my work</span></a></div>
    </div>


    <footer>     
        <h2>ME ON SOCIAL</h2>     
        <div id="socials">
            <a href="https://www.linkedin.com/in/josh-tell/" target="_blank" class="fa1 fa fa-linkedin"></a>
            <a href="https://www.facebook.com/josh.tell.5" target="_blank" class="fa1 fa fa-facebook"></a>
            <a href="https://github.com/jtell1997" target="_blank" class="fa1 fa fa-github"></a>
        </div>
      </footer>
</div>
